body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: arial;
  background-color: rgb(207, 99, 159);

}

h3 {
  color: white;
}

.calculadora {
  background-color: rgb(241, 168, 226);
  width: 300px;
  border-radius: 14px;
  padding: 20px;
}

#display {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  border: none;
  border-radius: 10px;
  text-align: right;
  font-size: 24px;
  margin-bottom: 16px;
}

.box-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
}

button {
  border: none;
  height: 60px;
  border-radius: 10px;
  font-size: 24px;
}

button:hover {
  background-color: rgb(179, 104, 164);
  cursor: pointer;
  transition: 0.8ms;
}

.resultado {
  grid-row: 4 / 6;
  height: 100%;
  grid-column: 4;
}

.zero {
  grid-column: 1 / 3;
}
